@charset "utf-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: inherit;
}


body {
    position: relative;
    line-height: 1;
    background: #fff;
    color: #333;
}

ul,li,ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.left-slide {
    height: 300px;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.left-all {
    width: 100%;
}


.left-all>li {
    position: absolute;
    top: 0 ;
    left: 0;
}


.top-slide {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.top-all {
    width: 100%;
}

.top-all>li {
    position: absolute;
    top: 0;
    left: 0;
}

.fade {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fade-all {
    width: 100%;
}

.fade-all>li {
    position: absolute;
    top: 0;
    left: 0;
}